:root {
  --header-height: 130px;
  --left-gutter: 2rem;
  --text-color: #222;
  --text-grey: #444;
  --primary-hue: 240;
  --median-hue: calc(var(--primary-hue) + 25);
  --contrast-hue: calc(var(--primary-hue) + 120);
  --primary-color: hsl(var(--primary-hue), 100%, 50%);
  --median-color: hsl(var(--median-hue), 100%, 50%);
  --contrast-color: hsl(var(--contrast-hue), 100%, 50%);
  --light-color: hsl(var(--primary-hue), 100%, 95%);
  --faint-color: hsl(var(--primary-hue), 100%, 98%);

  scroll-behavior: smooth;
}


.layout {
  margin: 0 2rem;
  display: flex;
  align-items: column;
  justify-content: center;
}

.content {
  flex-grow: 1;
}

/* HEADER */

.heading {
  flex-grow: 1;
  padding: 2rem 0;
}

.heading a {
  margin: 0;
  padding: 0;
}

/* PHOTO */

.photo {
  display: none; /* hide on mobile */
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: fixed;
  left: var(--left-gutter);

  background: no-repeat url("../img/photo_alt.jpg"),
    linear-gradient(var(--primary-color), var(--contrast-color));
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* SECTION HEADINGS */

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a,
a:hover,
a:active,
a:visited {
  color: black;
  font-weight: 600;
}

/* MENU */

.toc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toc a {
  position: relative;
  line-height: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.toc > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: var(--primary-color);
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transform-origin: left;
  transition: all 0.1s ease-in-out 0s;
}

.toc > a:hover:before {
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.toc > a.active {
  font-weight: 800;
}

.toc > a:nth-of-type(2):before {
  background-color: hsl(calc(var(--primary-hue) + 5), 100%, 50%);
}

.toc > a:nth-of-type(3):before {
  background-color: hsl(calc(var(--primary-hue) + 10), 100%, 50%);
}

.toc > a:nth-of-type(4):before {
  background-color: hsl(calc(var(--primary-hue) + 15), 100%, 50%);
}

.toc > a:nth-of-type(5):before {
  background-color: hsl(calc(var(--primary-hue) + 20), 100%, 50%);
}

.toc > a:nth-of-type(6):before {
  background-color: hsl(calc(var(--primary-hue) + 25), 100%, 50%);
}

.toc > a:nth-of-type(7):before {
  background-color: hsl(calc(var(--primary-hue) + 30), 100%, 50%);
}

.toc > a:nth-of-type(8):before {
  background-color: hsl(calc(var(--primary-hue) + 35), 100%, 50%);
}
.toc > a:nth-of-type(9):before {
  background-color: hsl(calc(var(--primary-hue) + 40), 100%, 50%);
}

em {
  font-weight: 600;
}

.list-section h3 {
  margin-bottom: 0.5em;
}

.list-section .subtitle {
  font-size: 0.9rem;
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.footer-image {
  width: 75%;
  margin-bottom: 1.5rem;
}

/* DESKTOP SPECIFIC STYLES */

@media screen and (min-width: 1150px) {

  .content h2, .toc h2 {
    z-index: 2;
    position: sticky;
    top: 0px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 79%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  .heading {
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }

  .content,
  .heading {
    width: 700px;
    flex-grow: 0;
  }

  .heading .photo {
    display: block;
  }

  .toc {
    position: fixed;
    left: var(--left-gutter);
    top: var(--header-height);
  }


  .toc h2 {
    display: none;
  }

  .project-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .project-title h3 {
    padding-right: 1rem;
  }

  .project-title > span {
    position: relative;
    top: 2px;
  }
}

@media screen and (min-width: 750px) {
  ul.contact {
    display: flex;
  }
  ul.contact li {
    padding-right: 1rem;
  }
}

ul.contact li {
  padding-bottom: 8px;
}

ul.contact a {
  text-decoration: none;
}
ul.contact li img {
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 2px;
  padding-right: 0.2rem;
}

@media screen {
  em {
    background: linear-gradient(90deg, var(--primary-color), var(--median-color));
    padding: 0.1rem 0.3rem;
    color: white;
  }

  .list-section-item {
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    margin: 20px 0px;
    padding: 0px 30px;
  }

  .list-section-item:nth-of-type(2) {
    border-color: hsl(calc(var(--primary-hue) + 5), 100%, 50%);
  }

  .list-section-item:nth-of-type(3) {
    border-color: hsl(calc(var(--primary-hue) + 15), 100%, 50%);
  }

  .list-section-item:nth-of-type(4) {
    border-color: hsl(calc(var(--primary-hue) + 25), 100%, 50%);
  }

  .list-section-item:nth-of-type(5) {
    border-color: hsl(calc(var(--primary-hue) + 35), 100%, 50%);
  }

  .list-section-item:nth-of-type(6) {
    border-color: hsl(calc(var(--primary-hue) + 45), 100%, 50%);
  }

  .list-section-item:nth-of-type(7) {
    border-color: hsl(calc(var(--primary-hue) + 55), 100%, 50%);
  }

  .list-section-item:nth-of-type(8) {
    border-color: hsl(calc(var(--primary-hue) + 65), 100%, 50%);
  }
  .list-section-item:nth-of-type(9) {
    border-color: hsl(calc(var(--primary-hue) + 75), 100%, 50%);
  }
}

.print-only {
  display: none;
}

@media print {

  body .toc {
    display: none;
  }

  em {
    padding: 0;
  }

  .screen-only {
    display: none;
  }
  .print-only {
    display: block;
  }

  .page-break-after {
    page-break-after: always;
    break-after: always;
  }
}
