@import url("https://fonts.googleapis.com/css?family=Staatliches:400");

html {
  font-size: 18px;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #222;
}

p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}
